@charset "utf-8";

/*font family : 'ralway', sans-serif*/
/* background-color: rgb(43, 135, 255)*/
/*color: rgb(81, 0, 212);*/

body, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', serif;
    
}

a, a:hover {
    text-decoration: none;
}
.container-fluid {
    padding: 0;
}
.separator {
    height: 5px;
    width: 20%;
    border: none;
    box-shadow: none;
    background-color: rgb(43, 135, 255);

}
#about {
    text-align: center;
}

/*header*/
.header {
    background-color: rgb(43, 135, 255);
    height: 70px;
    line-height: 70px;
    color: transparent;
}
.logo {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    float: left;
}
#logo:hover {
    color: black;
}
.menu {
    float: right;
}
.menu a {
    color: white;
    margin-right: 20px;
}

.menu a:hover {
    /*color: rgb(81, 0, 212);*/
    color: black;
}

/*banner*/
.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    position: relative;
}
.ban img {
    width: 100%;
    max-width: 100%;
    height: 650px;
}
.inner-banner {
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
}
.inner-banner h1 {
    color: white;
    text-shadow: 5px 10px 20px black;
}
.inner-banner .btn-custom {
    background-color: rgb(43, 135, 255);
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: white;
}
.inner-banner .btn-custom:hover {
    background-color: orange;
    color: black;
}

/*about*/

h2#About {
    text-align: center;
    padding-top: 10%;
}
.about article {
    margin-top: 10%;
    margin-bottom: 5%;
}

.about article h2 {
    text-align: center;
}

/*portfolio*/
.portfolio {
    
    padding-top: 0 auto;
    height: 800px;
}
#portfolio {
    text-align: center;
}
/*.portfolio .item-folio {
    height: 280px;
    background-color: rgb(43, 135, 255);
}*/
.rows {
    padding-top: -50%;
}

.img-fluid4 {
    padding-bottom: 15px;
}

.tab-content {
    margin-top: 50px;
}
.tab-img-container {
    position: relative;
    margin-bottom: 30px;
}
.images-container img {
    position: relative;
}
.tab-img-container::before {
    content: " ";
    background-color: #6048FF;
    opacity: 0.3;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.tab-img-container:hover::before {
    background-color: transparent;
}

/*contact*/

.footer {
    background-image: url(images/design.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.footer {
    height: 700px;
    text-align: center;
}
.footer {
    background-color: royalblue;
    padding-top: 10%;
    padding-bottom: 10%;
}
h2#contact-me {
    text-align: center;
    color: white;
}
.form {
    text-align: center;
}
.formcontact {
    width: 500px;
    display: block;
    margin: 0 auto;
}

input [type-text] {
    height: 50px;
    width: 500px;
}
.last {
    float: center;
}
.form-group {
    border: black solid 1px;
    border-radius: 5px;
}
#final {
    color: black;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 15px;
}
